@model IEnumerable<eCommerceProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h1>Product Editor</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Brand
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        <button type="button" class="btn btn-primary">
                            <a asp-action="Create">Create New</a>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                        <td>
                            @product.ProductID
                        </td>
                        <td>
                            @product.ProductName
                        </td>
                        <td>
                            @product.Brand.BrandName
                        </td>
                        <td>
                            @product.ProductPrice
                        </td>
                        <td>
                            @product.Category.CategoryName
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@product.ProductID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@product.ProductID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@product.ProductID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
