@model eCommerceProject.Models.WebUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WebUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WebUserFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebUserFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebUserEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebUserEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebUserPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebUserPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserRole.UserRoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WebUserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
